@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&display=swap');
:root {
    --primary-light-color:#EFFFF3;
    --primary-color:#2CE088;
    --gray1-color:#7A7D85; /* Gray1 */
    --gray2-color:#E1E3E9; /* Gray2 ????????? */ 
    --gray3-color:#E1E3E9; /* Gray3 */
    --dark-color:#212329;
    --red-color:#E75453; /* Красный */

    --bs-primary-rgb:#2CE088;    /* зеленый 1, text-primary */
    --bs-primary-text:#00AF5A;   /* зеленый 2, text-primary-emphasis */
    --bs-heading-color: #212329;      /* Темно-серый .text-dark */
    --bs-secondary-rgb:#545761;  /* Серый Меню .text-secondary */
    --bs-success-bg-subtle:#EFFFF3; /* Фон баннеров 1 .bg-success-subtle */
    --bs-success-bg-subtle2:#F8FFF9; /* Фон баннеров 2 */
  
}
body {
	font-family: 'Montserrat', sans-serif;
	color:var(--dark-color);
	font-size: 1.11vw;
    line-height: 1.8;
}
* {
	font-size: 1rem;
}
ul.marked {
    list-style: none;
    padding-left: 4rem;
}
ul.marked li::before {
    content: "\2022";
    color: var(--primary-color);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 1.4rem;
}

.container-xxs {
    padding-left: 48px;
    padding-right: 48px;
}
.h1, h1 {
    font-size: 3rem;
    line-height: 1.2;
    padding-bottom: 3rem;
    font-weight: 600;
}
.h2, h2 {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 600;
}
.h3, h3 {
    font-size: 1.375rem;
    line-height: 1.4;
    font-weight: 600;
}
.btn {
    --bs-btn-padding-x:4rem;
    --bs-btn-padding-y:1rem;
}
.btn-danger {
    --bs-btn-bg:var(--red-color);
    --bs-btn-border-color:var(--red-color);
}
.text-gray {
    color:var(--gray1-color)!important;
}
.text-primary {
    color:var(--bs-primary-text)!important;
}

/* #services */
#services .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin-top: 1rem;
}
#services .item {
    background-color: var(--primary-light-color);
    border-radius: 0.75rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#services .item>a {
    display: inline-block;
    font-size: 1.375rem;
    font-weight: 600;
    color: black;
    text-decoration: none;
    padding: 0.5rem 0;
}
#services .item .badge {
    color: var( --gray1-color);
    padding-left: 1.5rem;
    position: relative;
    font-weight: normal;
}
#services .item .badges .badge::before {
    font-family: "fontello";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    color: var(--primary-color);
    font-size: 1rem;
    top: 2px;
}
#services .item .badges .badge:first-child::before {
    content: '\e800';

}
#services .item .badges .badge:last-child::before {
    content: '\f0fa';

}

/* #about */
#about .menu-wrapper {
    background: url('../images/about_img.png') right top scroll no-repeat transparent;
    background-size: contain;
    position: relative;
}
#about .menu {
    position: absolute;
    bottom: 0;
    left: 0;
    list-style: none;
}
#about .menu a{
    text-decoration: none;
    color: var(--bs-secondary-rgb);
    padding: 0.5rem 0;
    display: inline-block;
}
#about blockquote .text {
    color: #6C7AA6;
    font-size: 1.5rem;
    font-weight: 600;
    font-style: italic;
}
#about blockquote .author {
    text-align: left;
    display: block;
    float: right;
}
#about blockquote .author span {
    display: block;
    color: var(--gray1-color);
}

/* advantages */
#advantages {
    background: url('../images/advantages_img.png') right top scroll no-repeat transparent;
    background-size: auto;
    position: relative;
}
#advantages .item {
    background-color: var(--bs-success-bg-subtle);
    border-radius: 0.75rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 3rem;
    position: relative;
}
#advantages .item::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 56px;
    height: 56px;
    left: 3rem;
    top: 2.8rem;
    box-shadow: 0px 8px 14px #ABEFCE;
    border-radius: 12px;
    background: linear-gradient(218.11deg, #53F8A7 9.75%, #00AF5A 98.45%);
}
#advantages .items div:first-child .item::before {
    background: url('../images/advantages_01.png') center center scroll no-repeat, linear-gradient(218.11deg, #53F8A7 9.75%, #00AF5A 98.45%);
}
#advantages .items div:nth-child(2) .item::before {
    background: url('../images/advantages_02.png') center center scroll no-repeat, linear-gradient(218.11deg, #53F8A7 9.75%, #00AF5A 98.45%);
}
#advantages .items div:nth-child(3) .item::before {
    background: url('../images/advantages_03.png') center center scroll no-repeat, linear-gradient(218.11deg, #53F8A7 9.75%, #00AF5A 98.45%);
}
#advantages .items div:nth-child(4) .item::before {
    background: url('../images/advantages_04.png') center center scroll no-repeat, linear-gradient(218.11deg, #53F8A7 9.75%, #00AF5A 98.45%);
}
#advantages .items div:nth-child(5) .item::before {
    background: url('../images/advantages_05.png') center center scroll no-repeat, linear-gradient(218.11deg, #53F8A7 9.75%, #00AF5A 98.45%);
}
#advantages .items div:nth-child(6) .item::before {
    background: url('../images/advantages_06.png') center center scroll no-repeat, linear-gradient(218.11deg, #53F8A7 9.75%, #00AF5A 98.45%);
}
#advantages .item p {
    margin-left: 5rem;
}
#advantages .item p:not(.h3) {
    color: var(--gray1-color);
}

/* hospitalisation */
#hospitalisation {
    background: url('../images/hospitalisation_bg.png') right top scroll no-repeat, linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 7%, rgba(239,255,243,1) 7%, rgba(239,255,243,1) 70%, rgba(255,255,255,0) 70%, rgba(255,255,255,0) 100%);
    padding-top: 15rem;
    background-size: auto;
    position: relative;
    height: 36rem;
}

/* #prices */
#prices .item {
    border-bottom: 1px solid var(--gray3-color);
    padding-bottom: 1rem;
    padding-top: 1rem;
}
#prices .item>.h3 {
    padding-top: 1rem;
}
#prices .item .more {
    text-decoration: none;
    color: var(--bs-secondary-rgb);
    font-weight: 600;
}
#prices .item .btn,
#prices .item .h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#prices .tiles .item {
    border-radius: 0.75rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-bottom: none;
    background-image: url('../images/prices_tiles_bg.png');
    padding: 3rem;
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
}
#prices .tiles .item.marked {
    background: rgb(182,187,244);
    background-image: radial-gradient(circle at left top, rgba(182,187,244,1) 0%, rgba(255,255,255,0) 50%), url('../images/prices_tiles_bg.png') ;
    background-size: cover;
}
#prices .tiles .item.marked .h3 {
    color:#0070AF!important;
}
#prices .tiles .item .h3::before {
    content: 'Тариф';
    color:var(--gray1-color);
    font-size: 1rem;
    font-weight: 400;
    display: block;
}
/* #stages */
#stages .digits img {
    margin-top: 3rem;
}

/* #procedures */
#procedures .hospitalisation-conditions {
    margin-top: 7rem;
    border-radius: 1rem;
    background-color: #32C17D;
    position: relative;
    padding: 3rem;
}

#procedures .hospitalisation-conditions::before {
    content: '';
    position: absolute;
    top: -7rem;
    background: url(../images/hospitalisation-conditions.png) top right scroll no-repeat transparent;
    height: calc(100% + 9rem);
    width: calc(100% - 1rem);
    margin-left: -3rem;
}
#procedures .hospitalisation-conditions .h2 {
    color: #fff;
}
/* #differences */
#differences .h2 {
    margin-bottom: 3rem;
    margin-left: 4rem;
}
#differences dl.marked {
    list-style: none;
    padding-left: 4rem;
}
#differences dl.marked dt {
    font-size: 1.375rem;
    line-height: 1.4;
    font-weight: 600;
}
#differences dl.marked dt::before {
    content: "\2022";
    color: var(--primary-color);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 1.4rem;
}
#differences dl.marked dd {
    font-size: 0.9rem;
}
#differences .pay,
#differences .free {
    padding: 6rem 3rem;
    border-radius: 1rem;
}
#differences .pay {
    background-color: var(--bs-success-bg-subtle2);
}
#differences .free {
    border: 1px solid var(--gray2-color);
}

/* #faq */
#faq .accordion-item {
    border: none;
    border-radius: 0;
    margin: 2rem 0;
}
#faq .accordion-button {
    --bs-accordion-btn-padding-y: 2rem;
    --bs-accordion-btn-padding-x:4rem;
    --bs-accordion-inner-border-radius: 1rem;
    --bs-accordion-btn-bg: var(--bs-success-bg-subtle2);
}
#faq .accordion-button:not(.collapsed) {
    /*border-bottom-left-radius: var(--bs-accordion-inner-border-radius);
    border-bottom-right-radius: var(--bs-accordion-inner-border-radius); */ 
    border-radius: var(--bs-accordion-inner-border-radius);
    --bs-accordion-btn-bg:#32C17D;
    --bs-accordion-btn-color: #FFFFFF;
    --bs-accordion-active-bg:#32C17D;
    --bs-accordion-active-color: #FFFFFF;
}
#faq .accordion-button::after {
    transform: rotate(-90deg);
    padding-left: 3rem;
    background-position: right center;
}
#faq .accordion-button:not(.collapsed)::after {
    transform: rotate(0deg);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
/* .banner */
.banner {
    /*background-color: var(--bs-success-bg-subtle);*/
    padding-top: 10rem;
    padding-bottom: 5rem;
    background: url('../images/banner-bottom_bg.png') top right scroll no-repeat, linear-gradient(0deg, var(--bs-success-bg-subtle) 0%, var(--bs-success-bg-subtle) 85%, rgba(255,255,255,0) 85%, rgba(255,255,255,0) 100%);
}
.banner .form-control.phone {
    padding: 1em 4rem;
}
.banner .form-check {
    margin-top: 1rem;
    display: flex;
}
.banner .form-check-input {
    padding: 4px;
    margin: 0 16px 0 0;
    min-width: 24px;
    height: 24px;
    border: 1px solid #e1e1e1;
    background-color: var(--bs-primary-rgb);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    cursor: pointer;
}
input[type=checkbox]:before {
    position: absolute;
    content: url("data:image/svg+xml,%3Csvg width='18' height='15' viewBox='0 0 18 15' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.99991 11.2392L1.82991 7.06918L0.409912 8.47918L5.99991 14.0692L17.9999 2.06918L16.5899 0.65918L5.99991 11.2392Z /%3E%3C/svg%3E");
    left: 6px;
    top: -3px;
    right: 0;
    bottom: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .5s;
    transition: .5s;
}
input[type=checkbox]:checked::before {
    -webkit-transform: scale(0.99);
    transform: scale(0.99);
}
.banner .form-check-label {
    font-size: 0.75rem;
}
.banner .form-check-label a {
    text-decoration: underline;
    color: var(--primary-color);
    font-size: 0.75rem;
}
/* footer */
footer {
    padding-top: 4rem;
}
footer .title {
    font-size: 1.375rem;
    line-height: 1.4;
    font-weight: 600;
    color: var(--bs-secondary-rgb);
    margin-bottom: 2rem;
    text-decoration: none;
    display: block;
}
footer ul {
    list-style: none;
    padding-left: 0;
}
footer ul li a {
    text-decoration: none;
    color: var(--gray1-color);
    font-size: 1rem;
}
footer ul.phones {
    display: flex;
    gap: 1rem;
}
footer .footer-middle {
    margin-top: 4rem;
}
footer .footer-middle ul  {
    display: flex;
    flex-direction: column;
    max-height: 14rem;
    flex-wrap: wrap;
    margin-bottom: 3em;
    align-content: flex-start;
}
footer .footer-middle ul li {
    flex: 0 0 auto;
    width: 25%;
    max-width: 100%;
}
footer .footer-bottom {
    background-color: var(--bs-primary-text);
    padding: 2rem 3rem;
    color: #fff;
}

