
.icon-heart:before { content: '\e800'; } /* '' */
.icon-medkit:before { content: '\f0fa'; } /* '' */
.icon-rouble:before { content: '\f158'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
